<div class="contactContainer">
	<div class="shortInput">
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" id="name" name="Name Input">
		</div>
		<div class="form-group">
			<label for="company">Company:</label>
			<input type="text" class="form-control" id="company" name=""></input>
		</div>
		<div class="form-group">
			<label for="phone">Phone:</label>
			<input type="text" class="form-control" id="phone" name=""></input>
		</div>
	</div>
	<div class="messageInput">
		<div class="form-group">
			<label for="message">Message:</label>
			<textarea class="form-control" rows="6" id="message"></textarea>
		</div>
	</div>
</div>