<div class="contactContainer">
	<h1>Get In Contact With Me</h1>
	<form action="https://formspree.io/adamjayne402@gmail.com" method="POST">
		<div class="shortInput">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" name="name">
			</div>
			<div class="form-group">
				<label for="company">eMail:</label>
				<input type="text" class="form-control" id="company" name="_replyto"></input>
			</div>
			<div class="form-group">
				<label for="phone">Company:</label>
				<input type="text" class="form-control" id="phone" name="contact"></input>
			</div>
		</div>
		<div class="messageInput">
			<div class="form-group">
				<label for="message">Message:</label>
				<textarea class="form-control" rows="6" id="message" name="message"></textarea>
			</div>
		</div>
		<input type="submit" class="btn btn-primary" value="Send">
</div>