<div class="container">
	<div id="info col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xs-offset-4">
		<button class="accordion">About</button>
		<div class="panel introInfo">
			<img class="infoImg" src="img/myProfile.jpeg">
			<br>
			<p>My name is Adam Jayne. I currently reside in Fishers, Indiana while I attend Eleven Fifty Academy for Javascript and Web Design. I love programming, and I have put my heart into this application. If you have any questions that are not answered by the page, head over to the contact page and send me a message!</p>
			<p>My Resume Download Link</p>
			<a href="../files/Finalized.pdf" download >
				<img class="showOnTop" src="../img/resumelink.PNG" alt="My Resume">
			</a>
		</div>
		<button class="accordion">Experiences</button>
		<div class="panel">
			<strong><h3 style="text-align: center;">Professional:</h3></strong>
			<ul class="infoList">
				<li>Attending Eleven Fifty Academy for Web Design</li>
				<li>Experience in web development using HTML/CSS/JavaScript</li>
				<li>Experinece with Express and Ajax for data manipulation</li>
				<li>Photographed 2 Weddings</li>
				<li>Photographed an awards ceremony for the Indiana Angus Association</li>
				<li>10 years of 4-H</li>
				<li>3 years as a Junior Leader</li>
				<li>Unique abiliity for determining best fit genetics for Angus Cattle</li>
				<li>Traveled with and assisted an EIM contractor with auditing multiple farms</li>
			</ul>
			<strong><h3 style="text-align: center;">Personal:</h3></strong>
			<ul class="infoList">
				<li>Constructed a pc out of modern parts for my grandfather as his home-station</li>
				<li>Constructed a pc out of old parts, and successfully overclocked for stable performance while playing modern AAA video game titles</li>
				<li>Traveled and assisted in construction of foundation and structure for a photovoltaic array</li>
				<li>Attended and participated in several National livestock shows</li>
			</ul>
		</div>
	</div>
</div>
