<div id="photos">
	<ul>
		<li>
			<img src="../img/myImages/83.jpg">
		</li>
		<li>
			<img src="../img/myImages/50.jpg">
		</li>
		<li>
			<img src="./img/myImages/bridge.jpg">
		</li>
		<li>
			<img src="./img/myImages/99.jpg">
		</li>
		<li>
			<img src="./img/myImages/superMoon.jpg">
		</li>
		<li>
			<img src="./img/myImages/51.jpg">
		</li>
		<li>
			<img src="./img/myImages/84.jpg">
		</li>
		<li>
			<img src="./img/myImages/76.jpg">
		</li>
		<li>
			<img src="./img/myImages/79.jpg">
		</li>
		<li>
			<img src="./img/myImages/airport.jpg">
		</li>
		<li>
			<img src="./img/myImages/bird.jpg">
		</li>
		<li>
			<img src="./img/myImages/clouds.jpg">
		</li>
		<li>
			<img src="./img/myImages/sunset.jpg">
		</li>
	</ul>
	<div class="portfolioLink">
		<a href="https://ajayne.carbonmade.com/" target="_empty">Photography Portfolio</a>
	</div>
</div>