<div class="container" id="projects">
	<div class="col-12">
		<h3>Mobile Apps</h3>
	</div>
	<div class="row">
		<div class="col-12">
			<a href="https://itunes.apple.com/us/app/furtrieve/id1330677178?mt=8" target="_empty"><img src="./img/furtrieveIcon.png" alt="Furtrieve App Icon" class="mobileIcon"></a>
		</div>
	</div>
	<div class="col-12">
		<h3>Web Apps</h3>
	</div>
	<div class="row">
		<div class="col-xs-12 col-lg-6 col-xl-4">
				<a href="http://furtrievegps.com" target="_empty"><img src="./img/furtreiveWeb.png"></a>
		</div>
		<div class="col-xs-12 col-lg-6 col-xl-4">
			<a href="https://profconnclient-alj.herokuapp.com/#!/home" target="_empty"><img src="./img/profconn.png"></a>
		</div>
		<div class="col-xs-12 col-lg-6 col-xl-4">
			<a href="https://parkapet-d26c1.firebaseapp.com/#/landing" target="_empty"><img src="./img/parkAPet.png"></a>
		</div>
		<a class="col-xs-12  col-lg-6 col-xl-4" href="https://newsapichallenge-alj.herokuapp.com/" target="_empty"><img src="./img/newsApi.PNG"></a>
		<a class="col-xs-12   col-lg-6 col-xl-4" href="https://producefarm.herokuapp.com/" target="_empty"><img src="./img/storeApp.PNG"></a>
		<a class="col-xs-12   col-lg-6 col-xl-4" href="https://alj-bucketlist-client.herokuapp.com/signup" taregt="_empty"><img src="./img/bucket.png"></a>
		<a class="col-xs-12   col-lg-6 col-xl-4" href="https://github.com/AdamJayne/jsLibrary" target="_empty"><img src="./img/jsLibrary.png"></a>
		<a class="col-xs-12   col-lg-6 col-xl-4" href="https://sunmonster.herokuapp.com/" target="_empty"><img src="./img/monster.png"></a>
	</div>
</div>